body{
    margin: 0;
}
header{
    background-color:#1D2254;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
header>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    justify-content: center;
}
a>.user{
    width: 30px;
    padding-right: 30px;
}
header>div>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 300;
    text-decoration: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
header>div>a:hover{
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    color: black;
}

header>img{
    margin:20px;
    background-repeat: no-repeat;
}
main>img{
    background-repeat: no-repeat;
    margin-left: 20px;
}
.n9{
    margin: 0 10px 0 20px;
    width: 400px;
    height: 200px;
}
.school>p{
    margin-left: 20px;
}
footer{
    background-color: #1D2254;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer>a>img{
    width: 100px;
    height: 40px;
}
footer>a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
footer>a:hover{
    color: black;
}
.con{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.con>p{
    margin-left: 10px;
    color: white;
}
.con>img{
    width: 24px;
    height: 40px;
}
footer>div>img{
    width: 24px;
    height: 40px;
}
h1{
    margin: 40px 0 20px 20px;
}
.side{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.text{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-left: 10px;
}
.image{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
main{
    margin-bottom: 60px;
}
.school>img{
    margin-right:20px;
}
main>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer>div>p{
    color: white;
    font-size: 18px;
}
.foot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 9px;
}
.foot>a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
    text-decoration: none;
}
.foot>p{
    color: white;
    font-size: 12px;
}
.school{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.school>img{
    width:259px;
}
@media(width<=425px){
    header>img{
        width: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    header>div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                gap: 20px;
    }
    header>div>a{
        margin: 0;
        font-size: 12px;
    }
    .image{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .school{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .image>p{
        margin-left: 20px;
    }
    .school>img{
        margin-left: 20px;
        width: auto;
    }
}